[2019-01-10 09:56] xsaad67 opened #1 "Question about Eager Loading"
Does this package support Eager loading?

[2019-02-06 11:35] mkwsra commented on #1
@xsaad67 Sorry for the late response, yes for sure, eventually it's using the normal eloquent relations.

[2019-02-15 13:16] #1 closed

[2019-03-08 23:55] BechirAhmed opened #2 "Like model more than one time"
Is it Possible to make a model CanbeLiked more than one time by the same user? If so, How?

[2019-03-09 17:05] mkwsra commented on #2
@BechirAhmed Unfortunately, this is _not possible_ since there should be only one record in the interactions table for this specific _subject_ **liking** this specific _object_

[2019-03-13 12:05] yuriyoung opened #3 "Lumen support please"
a awesome package, good job.But it doesn't work on lumen 5.6.

[2019-04-03 11:19] #2 closed

[2019-05-16 23:01] GreenImp opened #4 "DB migration fails on users.id foreign key"
In Laravel 5.8, When running the migration files that come with the package it throws an error when running the `2018_06_14_000000_create_acquaintances_interactions_table` migration:

[code]

This is because the `users.id` field is no longer a `unsignedInteger`, it has been changed to an `unsignedBigInteger`.

Changing the migration file line 19, from this:
[code]
To this:
[code]

Fixes the proble

[2019-05-17 00:46] GreenImp opened #5 "`Illuminate\Events\Dispatcher::fire()` removed in 5.8"
In Laravel 5.8, the `Illuminate\Events\Dispatcher::fire()` method has been deprecated removed from the codebase, meaning that whenever this package triggers and event it throws a fatal error:

This can be fixed by replacing`::fire()` with `::dispatch()`. I'm happy to put a pull request together if you're okay with that?

[2019-05-17 14:41] mkwsra commented on #5
Yes, for sure it's okay and if you aren't free I will do so very soon

[2019-05-17 14:44] mkwsra commented on #4
Thanks a lot for your feedback and the explanation, I shall add this change and issue a new version/tag for this library.

You are much appreciated!

[2019-05-18 21:11] GreenImp commented on #5
Fab, I've created a pull request which should fix the problem. I've not been able to test it properly though. You can see my comment on the pull request.

[2019-05-18 21:22] GreenImp commented on #4
I've created a pull request for this (#7) as I was already in the code to look at #5.

[2019-05-20 09:49] #4 closed

[2019-05-20 10:07] mkwsra commented on #5
Thank you!

[2019-05-20 10:07] #5 closed

[2019-06-17 22:14] GreenImp opened #9 "Difference between "Like" and "Favourite"?"
Hi,
What is the difference between "Liking" a model and "Favouriting" a model? Do they work in exactly the same way, just with a different name?

[2019-06-18 10:33] mkwsra commented on #9
Hi,

Yes they are the same.
Such thing is implemented in case you would like you app to implement both
of them at the same time.

On Tue, Jun 18, 2019 at 1:14 AM Lee Langley-Rees <notifications@github.com>
wrote:

[2019-06-18 10:41] GreenImp commented on #9
That's fab, thank you.

[2019-06-18 10:41] #9 closed

[2019-06-30 16:05] ctf0 opened #10 "UUID instead of id"
is it possible to update the docs on what to change in order to use UUIDs instead if inc-id ?

[2019-06-30 16:10] mkwsra commented on #10
Not that I've tried it with this library but as I quick look you need to change the following places:
1- Migration files
2- Models
3- The logic of manipulating relations within [Interaction.php](https://github.com/LiliomLab/laravel-acquaintances/blob/master/src/Interaction.php)

[2019-07-03 15:58] ctf0 commented on #10
after testing, so far all needed was to change the migration fields types.
the friendship works correctly, but havent tested on groups or interactions yet.

[2019-07-07 16:46] ctf0 commented on #10
here are the changes needed

- for friends
[code]

- for groups
[code]

[2019-07-07 17:20] ctf0 opened #11 "how to load the recipient along with its group name"

[2019-07-08 09:03] #10 closed

[2019-07-10 21:49] ctf0 opened #12 "isSubscribedBy expects an int"
https://github.com/LiliomLab/laravel-acquaintances/blob/bf357d93537c0dbc4f80531938d605e9473baee8/src/Traits/CanBeSubscribed.php#L13-L23

does it mean i should send an id or is it a doc typo ?

[2019-07-11 07:25] mkwsra commented on #12
It's a typo, it should not be int
It should be an eloquent object

[2019-07-11 08:33] ctf0 commented on #12
i will send a PR with the fix

[2019-07-11 08:36] #12 closed

[2019-07-11 08:41] ctf0 commented on #11
will send a PR for this

[2019-07-11 08:41] #11 closed

[2019-07-14 10:32] ctf0 opened #14 "Enhancements"
first many thanx for the package, it did help alot, however there is a room for improvements ex.

- the friendship group could be saved into db with a seeder & use it like any other relation without the need for accessing the config & making a lockup using the id
- atm the models are not extendable, so to get around that we can add the models namespaces to the config.
- update the events in the re

[2019-07-14 10:41] mkwsra commented on #14
Thank you so much for this great feedback! I really appreciate it, and thanks for using the package.

Please feel free to add whatever you want whenever you can, and I will do my best to take these in consideration 👍

[2019-07-14 10:43] ctf0 commented on #14
if you have some notes on any b4 i work it, plz do tell :1st_place_medal:

[2019-07-14 12:05] mkwsra commented on #14
Nothing really, everything is great and you are much-appreciated dear fellow

[2020-02-28 18:26] #14 closed

[2020-06-10 17:01] Algeneralo opened #15 "Unknown column issue"
Hi, First of all , thanks for this package.
There's a very strange issue when I try to add like, check if the target has been like be auth API user
Here is what I got:

`SQLSTATE[42S22]: Column not found: 1054 Unknown column "interactions.api_auth_id" in "where clause" (SQL: select exists(select * from "topics" inner join "interactions" on "topics"."id" = "interactions"."subject_id" where "interac

[2020-06-11 10:08] mkwsra commented on #15
Thank you and I appreciate it, but I guess this use care is rare in comparison to the majority of developed Laravel apps, hence, I will leave it for now waiting for any other requests then for sure I will implement such a feature, and thanks!

[2020-06-11 10:08] #15 closed

[2020-07-24 17:56] micos7 opened #16 "How would i retunred a list of Posts and their likes?"
Lets say I have

     `$latest_posts= Post::with('user')->latest()->paginate(15);`

How would  I associate their likes(if they exist)? .I could do an awkward JOIN on `subject_type` and `subject_id` in the `interactions` table but that seems like caveman mysql. Thanks.

[2020-07-25 08:23] micos7 commented on #16
Solved it this way

[code]

[2020-07-25 08:24] #16 closed

[2020-09-08 18:11] bigint opened #17 "Laravel 8 Support"
It would be great if this package update its support to Laravel 8!

[2020-09-08 20:01] mkwsra commented on #17
Yes for sure I will do so tomorrow maximum.

On Tue, Sep 8, 2020 at 9:11 PM Bigint <notifications@github.com> wrote:

[2020-09-09 20:29] mkwsra commented on #17
![image](https://user-images.githubusercontent.com/1743919/92649698-16ff6600-f2f4-11ea-8611-f7cb5e29ecf9.png)
I just read the requirements for this package and it was fine, then I installed it on Laravel 8! everything seems to be fine.

Can you please share with me your issue so I can help?

[2020-09-13 14:26] bigint commented on #17
Yes this is working fine now @mkwsra 😊!

[2020-09-16 15:56] #17 closed

[2020-10-24 23:15] ferrari308guy opened #18 "Error in CanVote.php: str_plural"
Hello,

Is this package still maintained? If so, I discovered a bug when using this package on Laravel 8. In CanVote.php, there's an error on the following line:

`return Interaction::attachRelations($this, str_plural($type), $targets, $class);`

It looks like the str_plural function is no longer supported in Laravel 8. The str_plural function needs to be updated to Str::plural.

[2020-10-25 06:49] mkwsra commented on #18
Hi there,

Yes for sure it's maintained. I will upload this fix.

Thank you for reporting

[2020-10-25 10:59] mkwsra commented on #18
Now it's fixed in v3.4.0, so please give it a try and let me know.

Thanks again!

[2020-10-25 14:59] ferrari308guy commented on #18
Works great. Thanks for the quick fix!

[2020-10-26 09:00] mkwsra commented on #18
You're welcome

[2020-10-26 09:00] #18 closed

[2020-10-27 19:49] francoism90 opened #19 "[feature] Watch Later/Saved?"
Thanks for providing this great package. :)

I was thinking of adding saved methods, would you accept this as a PR? A lot of websites offer this feature like FB & Reddit.
This would be very useful when exploring models (posts, books, videos, music, etc.).

If this can be done differently or you think this out of the scope of this package, just let me know.

[2020-10-28 17:46] mkwsra commented on #19
Thank you so much for using our package :)

For sure, you are welcome to make this change!

[2020-10-30 11:48] francoism90 commented on #19
@mkwsra I'm going to close this PR, sorry. I cannot find the correct terms and I do think likes/favorites may be preferred terms instead. You cannot use terms like `save`/`store`/.. and I don't like the term `watchlist` as this implies 'watching'.

Sorry for the noise, I'll be using the likes for this instead. :)

[2020-10-30 11:48] #19 closed

[2020-11-28 11:59] jayenne opened #20 "help with using isFollowedBy within a get()"
Hi,
I'm struggling to get all models where they are followed by the current Auth::user

**my repository is using:**
[code]
the error I get is: `Call to undefined method Illuminate\Database\Eloquent\Builder::isFollowedBy()`

**However, when I try:**
[code]
the error is: ` Non-static method App\Models\Board::isFollowedBy() should not be called statically`

how would I get all models where a user has

[2020-11-28 12:26] mkwsra commented on #20
The matter, in fact, is that the function `isFollowedBy()` is made only to check if this user has been following or not; it returns a boolean.

if you wish you can create such a helper function within your Board model:

[code]

Please let me know if I'm being any help to you.

[2020-11-28 14:48] jayenne commented on #20
Thank you for the help Mohamed.
Unfortunately I'm still get ting the same errors.
Would you mind looking at my implementation for a minute please?

I have included a stripped down version of the model, controller & repository [here](https://paste.laravel.io/0f7c0dfd-bc30-4ca9-9cb7-36eee5dfa40a)

[2020-11-28 15:15] mkwsra commented on #20
You are welcome Jayenne,

I took a look at your snippets, and simply the helper function I've provided isn't _static_, hence you got the same error,however,

To achieve what you want, simply tweak your `getAll()` function to the following:

[code]

Let me know what will happen, and I'm here to help :)

[2020-11-28 18:47] jayenne commented on #20
that's perfect, thank you Mohamed.

[2020-11-28 18:47] #20 closed

[2020-12-06 02:35] ArtMin96 opened #21 "$user->getFriends() pagination problem"
Hi!

Thanks for this amazing package. I have a problem with pagination when using getFriends method. But I have seen that this method has parameters in Friendable trait.

Error:
Livewire component's [friends-list] public property [friends] must be of type: [numeric, string, array, null, or boolean]. Only protected or private properties can be set as other types because JavaScript doesn't need to a

[2020-12-07 12:37] #21 closed

[2020-12-12 19:58] ArtMin96 opened #22 "Show the posts of the current user and following users."
How can I show the posts of the following users? I have a table of posts I want to be displayed in the posts of the active user and his followers. Thanks.

[2020-12-13 13:04] mkwsra commented on #22
Hi there Arthur,

I didn't fully grasp what you're asking about here, but what I got it (and correct me if I'm wrong)

A "users show view" (AKA active user) and you displayed his posts, however, now you want to display the posts of his/hers followers?

[2020-12-13 23:35] ArtMin96 commented on #22
Thanks for the reply. Yes. You right.

[2020-12-22 16:00] ArtMin96 commented on #22
Any news?

[2020-12-23 08:26] mkwsra commented on #22
I will look at it today and let you know. Sorry for being late.

On Tue, Dec 22, 2020 at 7:00 PM Arthur Minasyan <notifications@github.com>
wrote:

[2020-12-23 10:58] ArtMin96 commented on #22
Not a problem. Thank you so much.

[2020-12-26 05:38] mkwsra commented on #22
// foreach for active user posts

// The followers of this user.
[code]

Do you mean something like this?

If you want me to be helpful please provide some code snippets so I can fully understand the issue

[2020-12-26 23:43] ArtMin96 commented on #22
Thanks for the answer.

I have a livewire component for the post.

[code]

[code]

I want to display the current user and his following user's posts ordering by created date. Like Facebook feed page.

[2020-12-27 19:19] ArtMin96 commented on #22
Do you think this is the right option?

[code]

[2020-12-28 20:48] jwittekind opened #23 "The method popular does not exist on InteractionRelation as documented"
Do i miss something here?
To me it seems, like a wrong documentation.

[2020-12-29 14:21] mkwsra commented on #23
Perhaps you are checking a different old version

Because as you can see it's there:
[https://github.com/multicaret/laravel-acquaintances/blob/eef71ca743c6a69577bf95cbe0034e47f19f4943/src/Models/InteractionRelation.php#L53](https://github.com/multicaret/laravel-acquaintances/blob/eef71ca743c6a69577bf95cbe0034e47f19f4943/src/Models/InteractionRelation.php#L53)

[2020-12-29 14:29] mkwsra commented on #23
I will give it a try later, code-wise, in order to reproduce this issue.

[2020-12-30 07:52] #22 closed

[2020-12-30 10:02] mayhemant opened #24 "How to paginate followers?"
I tried with

[code]

But throws

[code]

[2020-12-30 10:07] faustbrian commented on #24
You need to paginate the query builder with `$this->user->followers()->paginate(10);`

[2020-12-30 10:14] mayhemant commented on #24
Thanks, @faustbrian, The pagination works but the `links()` seems like not working!

Here is the result https://taskord.com/@filip/followers

[2020-12-30 10:19] mayhemant commented on #24
Oops it seems like working fine when logged out, but now while logged in! This must be issue with some other component!

Thanks for assisting @faustbrian! I'm closing this now!

[2020-12-30 10:19] #24 closed

[2020-12-30 11:39] jayenne opened #25 "cancel friend request?"
Hello,
is there a method to cancel a friend request?
sometimes a visitor may click  the befriend button by mistake and want to revoke it. Is this possible or should I write my own query?

[2020-12-30 12:54] jayenne commented on #25
ok, I have it...  I should just call unfriend() and it will remove the request.

[2020-12-30 12:54] #25 closed

[2020-12-31 08:25] jwjuele commented on #23
Where is the static method that is documented for a Trait
`
// Model array
$posts = App\Post::popular()->get();
`

[2021-01-01 10:13] mkwsra commented on #23
Please provide the used traits within your `Post` model

[2021-01-07 10:08] ArtMin96 opened #26 "Like: Reaction type support."
Is there any way I can give the reaction type of 'like'? Like on Facebook.

Ex. $user->like($targets, 'reaction');
Reaction types: 'Like', 'Love', 'Haha'...

[2021-01-07 10:16] mkwsra commented on #26
Unfortunately, It's not supported for now and I do think we will add it anytime soon, however, you may take advantage of the column `interactions.relation_value`, but if you chose to do so then you will be using your own storing and retrieving methods.

[2021-01-07 10:23] ArtMin96 commented on #26
Thanks for the quick response. Can you say in which case you use ```interactions.relation_value``` column?

[2021-01-07 10:31] mkwsra commented on #26
Yeah for sure, it's being used only for storing the rating value, so I guess you are good to go :)

[2021-01-07 10:34] ArtMin96 commented on #26
Thank you so much. Your repo is helped me a lot.

[2021-01-07 11:39] #26 closed

[2021-01-11 09:07] gowl commented on #23
@jwjuele It seems to me that your question has been answered but please do feel free to elaborate on your issue if it wasn't. Otherwise, you can go ahead and close it,

Just to be sure we're on the same page here, the method you sent is not a static method. It is a local scope, the same one that @mkwsra has mentioned, which goes by `scopePopular` within the model. What I understood is that you are

[2021-01-11 10:55] jwjuele commented on #23
I'm using an Article model with the trait "canBeFavorited", but I also tried "canBeLiked".

My goal is to query the most popular Articles. As there is a static method called "Post::popular()" documented in the ReadMe, I assumed, that i could use it on may Article Model.

When I came across an error, I took a look into the source code and could not find any definition of this documented method.

1.

[2021-01-21 18:29] jayenne opened #27 "missing isDeniedBy method"
Hi,
In the name of completeness (and becasue I'd like it) it would be great to have an isStatusBy for evey status possible. e.g isDeniedBy()

thanks.

[2021-02-22 10:11] jayenne opened #28 "problem with denying where a subsequent request being accepted will result in two friendships"
Hi,
I've noticed a problem with `deniying` requests.

Because you set the status to 'denied' and don't include an `isDeniedBy()` method, we can't [out of the box] prevent a sender from re-befriending.

This problem is then compounded when a recipient `denies` or `blocks` a sender, then the sender subsequently re-befriends, a new entry is created with the status `pending` (thus creating two entires

[2021-02-22 17:14] mohan-nishit opened #29 "Error: Trait method ratings has not been applied, because there are collisions with other trait methods on App\Models\User"
When starting with a fresh install of Laravel 8.28.1 (using `laravel new my-project`) along with an install of jetstream (with Livewire, with/without teams), adding the Traits to the default User class results in the error: Trait method ratings has not been applied, because there are collisions with other trait methods on App\Models\User
![image](https://user-images.githubusercontent.com/8962159/1

[2021-02-22 17:15] mohan-nishit commented on #29
Also tried this with Laravel Breeze, and it seems to work fine.

[2021-03-17 10:35] RJFares opened #38 "Unknown column 'updated_at'"
Upgrading to 3.4.3 introduced 2 issues:

Method getFullModelName not found (I checked the pull request which fixes it correctly).
But the other pending issue is
[code]

whenever I call the upvote() method.

[2021-03-17 10:38] RJFares commented on #38
The migration stub may have to be updated.
I have manually changed the migration of interactions_table to remove the 'created_at' and set $table->timestamps() instead

[2021-03-17 10:40] mkwsra commented on #38
Cool, thank you so much, would you care to make a PR for this fix?

[2021-03-17 10:41] RJFares commented on #38
I never did PRs, I'll try now :)

[2021-03-17 10:43] mkwsra commented on #38
Don't worry about it it's easy and intuitive, go ahead with it 😃

[2021-03-17 11:00] RJFares commented on #38
Added PR: https://github.com/multicaret/laravel-acquaintances/pull/39

[2021-03-17 11:39] #38 closed

[2021-03-18 10:44] francoism90 opened #40 "Migrations not working after upgrade"
[code]
I have synced the config file, cleared the cache and the updated migrations.

[2021-03-18 18:32] RJFares commented on #40
+1

[2021-03-19 02:26] mbrown3116 commented on #40
+1

[2021-03-19 03:07] mkwsra commented on #40
Fixed in version v3.4.6, please give it a try.

Guys, I'm thinking of changing the migration file names to include the current year_month...., instead of 2018....
What do you think?

[2021-03-19 03:12] mbrown3116 commented on #40
I’ve got no issue with that update. And thanks for the quick reply.

Sent from my iPhone

[2021-03-19 03:16] mkwsra commented on #29
Based on your screenshot, you are using the `CanRate` trait, hence your User model will have a function called `ratings` and this is conflicting with something within your code, perhaps you can help me out in figuring it out and I would be more than happy to help.

Please open back the issue whenever you get a lead on this

[2021-03-19 03:16] #29 closed

[2021-03-19 05:33] RJFares commented on #40
@mkwsra  I'll tell you about my experience recently.
When I first found this library, I noticed the date format of the migration file. It's the only library that has a fixed date format instead of the current date approach. I personally liked it because if I publish all the migrations, I do not have to suffer from having migration duplicates... Worst case, if the library has breaking changes and r

[2021-03-19 07:44] francoism90 commented on #40
@mkwsra
[code]
Looks fine here. :)

[2021-03-21 09:40] harlacher commented on #38
Appreciate the updates & PRs but: these are backwards-incompatible changes and break existing installations. Please either add new migrations and alter the table schema(s) to provide a full upgrade path or, bump the major version. Thanks!

[2021-03-21 09:47] RJFares commented on #38
@harlacher a previous discussion was made concerning naming of db migrations and should be resolved for future updates if @mkwsra makes the change

[2021-03-25 07:04] bigint opened #44 "Feature: Followers you know"
It would be great if we have "Followers you know" similar to mutual friends

![image](https://user-images.githubusercontent.com/69431456/112432093-66742380-8d66-11eb-87f1-7c5789518f95.png)

And also the ability to block followers also would be awesome 😃

[2021-03-26 22:00] ArtMin96 opened #45 "Type of Illuminate\Database\Eloquent\Relations\Pivot::$incrementing must be bool"
Hi. When I call the methods in CanBeViewed trait it returns this error.

**Type of Illuminate\Database\Eloquent\Relations\Pivot::$incrementing must be bool (as in class Illuminate\Database\Eloquent\Model)**

Laravel v8.12
PHP v7.4

[2021-03-28 15:42] ArtMin96 commented on #45
In the case of other classes, it returns the same error. I think this problem is caused by PHP type. This problem has never arisen before.

[2021-03-29 17:13] mkwsra commented on #45
@gowl If you can help since I'm super busy, that would be great

[2021-03-29 18:27] #40 closed

[2021-04-02 00:44] davidjqq19 commented on #28
Yes. If user A send a friend request to user B and user B deny it, then user A can send Many duplicate friend requests to user B.

[2021-04-10 16:52] ArtMin96 commented on #45
Is there any news?

[2021-04-17 16:25] #45 closed

[2021-04-21 08:25] NielsvanHoof opened #49 "Usage with livewire and notifications"
Hey, Users in my app can send friend requests to other users, When they click the add friend button I would like to notify the user that got send the friend request a notification. But how would I go using the package together with Livewire to send a notification when a user gets a friend request. Is their any build in functionality for usage with livewire ?

[2021-05-05 21:24] ArtMin96 commented on #49
add-friend.blade.php

`<div>
    <button wire:click="friendRequest" wire:loading.attr="disabled" class="flex items-center rounded-lg p-3 font-semibold text-blue-600 bg-blue-100 transition duration-300 ease-in-out hover:bg-blue-200 focus:outline-none">
        <x-icons.feathericons.user-plus class="w-5 h-5 mr-2" />
        {{ __('button.add_friend') }}
    </button>
</div>`

AddFriend.php

`class A

[2021-05-12 08:14] NielsvanHoof commented on #49
Yea this got me a good start, thank you !

[2021-05-12 08:14] #49 closed

[2021-05-12 20:31] ArtMin96 opened #50 "The $user->getFriendsOfFriends() method does not return anything in all three ways."
[code]

[2021-05-13 15:22] Takachi67 opened #51 "Unable to call getFriendRequests() with the sender relationship"
Hi,

I'm trying to get all the pending requests for a user and display the sender, but i can't call a relationship on a collection. Any way to do this properly ?

[2021-05-14 19:17] ArtMin96 commented on #51
Many problems have arisen since the last update.

[2021-05-18 13:28] sawirricardo opened #52 "Can we eager load the friend/follower/favorite count?"
Hi, @mkwsra , first of all, thank you for bringing this package to the community. We are grateful for your contribution.

One thing I want to ask can we eager load it? Because right now, when we load the models in tremondous amount, the queries start to get crazy 😅.

Here are the screenshot of the queries. 104 queries happened for each model.
<img width="619" alt="Screen Shot 2021-05-18 at 20 26 4

[2021-05-23 08:47] andreivips commented on #28
Extended my model with few methods, including:

    use Friendable;

    public function checkFriendship($model) {
        $friendshipModelName = Interaction::getFriendshipModelName();
        return $friendshipModelName::where(function ($query) use ($model) {
            $query->where(function ($q) use ($model) {
                $q->whereSender($this);
                $q->whereRecipient($model);

[2021-05-23 08:58] andreivips commented on #3
Installed it via composer, but configured manually by copying config files and tweaking further a little, this is due to absence of vendor:publish (that does not more the same i did). And it works.

[2021-05-23 16:02] mkwsra commented on #52
You are welcome, and I'm so sorry for late reply,

For sure you can eager load them depending on the relation name: for example:

[code]

[2021-05-23 16:04] mkwsra commented on #51
I will fix them all guys, so sorry, please give me sometime

[2021-05-24 04:22] sawirricardo commented on #52
Hi @mkwsra Oh, nice 👍🏻. I think it would be more nice if we can add it to the readme.md?

[2021-05-24 17:37] andreivips commented on #28
I just repeated already existent getFriendship method :)

$user = User::findOrFail($id);
$check = $request->user()->getFriendship($user);

[2021-06-11 13:39] pyrou opened #54 "A blocked user can unlock himself"
Current implementation of `acceptFriendRequest` doesn't check the status of existing friendship between users.
This is a serious security issue if developper not aware of this behavior and simply implement controller that maps 1 to 1 acquaintances methods.

[code]

As `befriend()` method check for precondition (it calls canBefriend()), we would expect from `acceptFriendRequest` the same level of v

[2021-06-20 10:55] micos7 opened #56 "Method Illuminate\Database\Eloquent\Collection::whereRecipient does not exist."
I have in a controller ,both current_user and friend have the expected users.
[code]
It fails in the if condition with the message

Method Illuminate\Database\Eloquent\Collection::whereRecipient does not exist.

Below is the method in the Friendable trait,what is strange that it used to work. I have the lastest version (3.5.3),Laravel 7
[code]
Thanks.

[2021-06-20 13:14] mkwsra commented on #56
It's strange indeed, because the migration left untouched, can you change the last code snippet to the following and let me know if it works:

[code]

And send only the friend id like the following snippet:
[code]

[2021-06-20 18:21] pr4xx opened #57 "New config option: connection"
I am running into an issue when using multiple connections in one app.
I need to be able to specify the $connection attribute for the models.
Is this possible with the config file?

[2021-06-20 18:40] pr4xx commented on #57
Ah I see that one can extend the models and set the model classes in the config file.

[2021-06-20 18:40] #57 closed

[2021-06-21 13:33] jaulz opened #58 "Remove attributes from traits?"
Hi @msk286, could we please remove the attributes within the traits by any chance? Right now, when you call "toArray" on the model it runs all the methods of the model and thus fires unneeded SQL queries. Maybe as part of a new major release since it would be a breaking change. If users need it, they can anyway easily define it themselves because the helper methods exist.

[2021-06-22 02:42] bigint opened #59 "Feature Request: Followers you know"
It would be great if this package support followers you know thing!

![image](https://user-images.githubusercontent.com/69431456/122854587-8f8a5d00-d331-11eb-9b9e-50a5851cd665.png)

[2021-06-22 08:47] micos7 commented on #56
More bizarre behaviour:
If I replace $this-friends() with its implementation it works.
[code]

[2021-06-22 08:54] micos7 commented on #56
I`m an idiot,I had a friends() relation on the User,apparently they conflicted.

[2021-06-22 08:55] #56 closed

[2021-06-23 12:21] mkwsra commented on #56
Don't worry and I'm glad its solved now :)

[2021-06-29 10:07] bigint commented on #59
Is this a duplicate @mkwsra?

[2021-06-29 10:09] bigint commented on #59
Oh yes I created it earlier https://github.com/multicaret/laravel-acquaintances/issues/44 🤣

[2021-06-29 10:21] mkwsra commented on #59
I will work on this library as soon as I got sometime and I will implement this if I can 😍

[2021-06-29 10:36] bigint commented on #59
Thanks, we are using this library on https://taskord.com that has around 4K interactions (like, subscribe, follow etc)

![image](https://user-images.githubusercontent.com/69431456/123783279-d1983d80-d8f3-11eb-9b3c-4f803cb13897.png)

Thanks for making this @mkwsra

[2021-07-11 10:06] francoism90 opened #62 "Additional scopes like trending, period scopes, etc."
It would be cool to add additional scopes, the `popular` scope already exists, however it doesn't have features like getting trending objects and/or objects popular in a certain period.

I'll do my best to make a PR for this to include the scopes based on the already existing `popular`, however I would like to ask your opinion about this one/here your ideas first. :)

[2021-07-12 12:20] gowl commented on #62
Sounds like a fantastic idea. We had it under our radar but decided to keep it simple and go without it but feel free to have a go and if it all goes well, we'll add it 😊

I presume the query will fetch items that got a sudden burst of interactions over a short period since creation, correct?

[2021-07-12 12:23] francoism90 commented on #62
@gowl I'm not an expert and still testing, this is my solution for trending views using spatie query builder:
[code]

[2021-07-12 12:36] jupiter80 opened #64 "Error: Class "App\User" not found"
Performed a composer update to a running project and have isolated the issue to the "Like" components.
Prior to this, the project worked perfectly.

Receive Error Class "App\User" not found...

Example call that resolves in this error:
`$nugget->isLikedBy(auth()->user()) `
or
`$nugget->likersCountReadable()`

**Stack Trace:**
[2021-07-11 20:26:53] local.ERROR: Class "App\User" not found (View: /va

[2021-07-12 12:53] gowl commented on #62
@francoism90 Looks good but it seems to me like it's another way to fetch popular posts, only this one is for the past 3 days. Optimally, a certain equation is needed that would add up views, comment count, and upvotes with different multipliers to each of these depending on importance to be authentic to the "trending" aspect of the sorter. But I believe @mkwsra has better insight than me on how t

[2021-07-13 15:27] jupiter80 commented on #64
Thank you. After I removed the prior published config/acquaintances.php file and reran php artisan vendor:publish --provider="Multicaret\Acquaintances\AcquaintancesServiceProvider", it works now. Thank you for the quick answer!

[2021-07-13 15:27] #64 closed

[2021-07-15 01:45] rxng opened #66 "Method Illuminate\Database\Schema\Blueprint::id does not exist"
Trying to migrate on Laravel 6+ results in this error. I have tried latest version.

Even version 2 does not work - cannot publish assets

[2021-07-28 17:53] mkwsra commented on #66
Sorry to hear that, did you try version 1?
https://github.com/multicaret/laravel-acquaintances/tree/v1

[2021-08-23 06:03] katesaikishore opened #67 "SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name ''"
[code]

I have tried everything still getting this error

[2021-08-23 07:47] mkwsra commented on #67
Hi there, this is most likely because of your config file, please note that if you have an old version of the library installed with an old version of the config file, you just have to delete it and publish the config file of this library again.

As you can see the table names are in the configs:
![image](https://user-images.githubusercontent.com/1743919/130410145-997c651a-2ace-4865-a6ae-ed5a4ffec

[2021-08-23 08:01] katesaikishore commented on #67
@mkwsra  Thanks, for this, I have cleared my cache and updated the library now this problem is solved! Now getting a new one! This problem has been solved by making `bigInteger` but again I am getting the error!

 `SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `interactions` add constraint `interactions_user_id_foreign` foreign key (`user_id`) references

[2021-08-23 10:07] mkwsra commented on #67
You're welcome, then just make sure that your `id` column with 'users' migration file is the same type with the `user_id` column in the interactions table, do to so just check the `config/acquaintances.php` at this key: `interactions_user_id_fk_column_type` if its value is the same or not.

Happy coding

[2021-08-24 05:15] katesaikishore commented on #67
Yes, It works. Thanks For your help

[2021-08-24 05:16] #67 closed

[2021-09-01 15:05] f4xy opened #68 "{{ $model->likers()->count() }} Eager ?"
Models/Thread.php
`
class Thread extends Model
{
    use HasFactory;

    public function comments()
    {
        return $this->morphMany(Comment::class, 'commentable')->whereNull('parent_id');
    }

}
`

Models/Comment.php
`
class Comment extends Model
{
    use HasFactory, CanBeLiked;

    protected $with = ['user', 'replies'];

    public function commentable()
    {
        return $this->mor

[2021-09-02 08:35] mkwsra commented on #68
You are always welcome,

For sure you can eager load the relations, simply, add the relation you want to, in your case (as far as I understand it) it must be 'likers'

So please add it to your `with` function or attribute of your model

Let me know if it worked or if you need any further help

[2021-09-04 01:44] f4xy commented on #68
The problem is not solved.

You may not have noticed, I have already added it.

protected $with = ['user', 'replies', 'likers'] in Models/Comment;

Can you use withCount or morphWithCount in the  package you develop?

The query data is too much, the reason why the EAGER function fails is that I used $model->likers()->count()

[2021-09-25 08:24] sarik-k opened #69 "If there a method for cancelling a friend request once a friend request has been sent?"
If a user sent a request to another user, but wants to cancel the request, how do I do that?

[2021-09-25 11:32] sarik-k opened #70 "getPendingsCount() is not in the Friendable trait"
Documentation says its there but its not.

[2021-09-25 11:34] mkwsra commented on #70
Thanks a lot for reporting this, you are totally right, please edit the file `src/Traits/Friendable.php`

And add this function to it:

[code]

And I will be adding this function to the library and make a new release soon :) Thanks again for your help

[2021-09-25 11:48] sarik-k commented on #70
You're welcome :)

Seems like it calculates for both Incoming and Outgoing requests. I only need the former - how many pending friend requests a user has.

Doing this in my controller for now:

[code]

[2021-09-25 11:51] mkwsra commented on #70
Awesome, you are already doing it correctly!

And thank you so much for your star, much appreciated 🙏

[2021-10-20 20:04] mkwsra commented on #54
Can you please help me and test this small tweak by updating the source code of the library itself?

Like the shown image, just add the following if:
[code]
In the following location: `src/Traits/Friendable.php:95:9`

The final result must be like this image:
![image](https://user-images.githubusercontent.com/1743919/138163367-b206c11d-22c3-4ca5-b35e-3e46a9d299bb.png)

I will be working on a diffe

[2021-11-09 14:48] ronssij commented on #68
`{{ $model - > likers() - > count() }}` this will always cause N + 1 because the `->likers()` is a new relation.

you can always eager load relation couns on you comment model.

eg.
[code]

[2021-11-14 08:09] boyet007 commented on #69
$user2->unfriend($user1)

[2021-11-22 13:34] dgillier opened #73 ""Comment" interaction on User/Model ?"
Hi there !

Looks great, I'm wondering if you have plan to add a "Comment" interaction on User/Model ?
Or any suggestion on how to implement this ?

Thanks , Denis

[2021-11-22 14:24] mkwsra commented on #73
Honestly, I don't think so, however, if you wish here are some files which will getting up and running with comments functionality with the most requested features with comments, like nested comments and other stuff :)

Comment model is using this library:
[https://github.com/etrepat/baum](https://github.com/etrepat/baum), and if you are facing problem installing it use simply this tutorial :) [ht

[2021-11-22 14:34] dgillier commented on #73
@mkwsra Great, thanks a lot Mohamed !

[2021-12-12 08:34] #73 closed

[2021-12-12 08:35] #70 closed

[2021-12-12 08:35] #69 closed

[2021-12-12 08:35] #68 closed

[2021-12-12 08:35] #66 closed

[2021-12-12 08:36] mkwsra commented on #54
Please open it again anytime you wisha

[2021-12-12 08:36] #54 closed

[2022-01-04 15:01] usernotnull opened #75 "Add target type to events"
When an event is dispatched, and the action sent is by id instead of an eloquent model, there is no way to know what type the model is.

Take cancelVote for example,

In the trait, you have:

[code]

I suggest we add `$class` to the array so that in the listener, we can grab the eloquent model if only the id is sent.

This needs to be applied to all traits in the library. I can open a PR if needed

[2022-01-15 16:41] jayenne opened #76 "anonymous block user/model (regardless of friendship status)"
SOLVED - I just didn't understand it. the friendships is creaed at the time of blocking. it's perfectly good as is. (althougha a toggleBlock() would be nice to have )

Hi, is there a way to implement this so that a user can block another user regardless of friendship status?
as I understand the docs, to block someon, they must first be a friend. Blocks are also something you may wish impose of ano

[2022-01-15 17:05] jayenne opened #77 "time limited blocking (suspension)"
Hi, is there a means to have a time limited block so we can suspend / mute / pause a friendship?

A "suspend" trait that accepts a duration that this an auto expiring blocking.
$user->suspend($target,$datetime) // set $datetime of expiry
$user->suspendedUntil($target) // returns datetime of expiry
$user->unsuspend($target) // deletes suspension
$user->hasSuspended($target) // returns bool
$target-

[2022-01-16 11:24] jayenne opened #78 "using within a get where examples?"
Would you have an example snippet of how to get a model (`Post::`) where is/not blocked by the given user (`Auth::user()`) please?

I imagine it may look something like this...
[code]
atm i'm using (but if feels a little cluncky)
[code]
Thanks .

[2022-01-27 00:44] YosefOberlander opened #79 "How to get profile model data when getting all pending friend requests for profiles."
have a profile model with the users information and I’m importing Friendable. I’m able to send and receive friend requests successfully but when I call ‘auth()->user()->getCurrentUserProfile()->getFriendRequests()`, I only get the ‘friendships’ table data, not the profiles. I’d only get profiles data once the user accepts the friend request. I would like to get the profile data when calling ‘auth(

[2022-02-17 16:04] sarik-k opened #80 "Disable auto liking by creator of likeable model"
It seems that when a user creates a likeable model (eg. post), the post gets automatically liked by the user. Is this intended feature? If yes, is there any way I can disable this behavior without manually unliking it upon post creation ?

[2022-02-18 04:22] mkwsra commented on #80
Hi Sarik, no there is no such thing so please let me know exactly what are you doing with some code so I can help out, but by default creating a model has nothing to do with calling the `->like()` function

[2022-02-18 04:28] mkwsra commented on #78
Hi Jayenne, sorry I was really sick,

Yes your example is great, and later on if you are running to many queries you can optimize it but for now (with thousands of users & more thousands of posts) it's the right way:

And if I were you I would only tweak the mentioned code snippet, just by a bit:
[code]

[2022-02-18 04:28] #78 closed

[2022-02-18 04:32] mkwsra commented on #77
Hi Jayenne, It's a great idea actually, not for every scenario but it's really nice to have 🤩

Thank you so much for sharing it and I will plan to implement it in future releases

[2022-02-18 04:32] #77 closed

[2022-02-18 04:35] #76 closed

[2022-02-18 04:42] mkwsra commented on #75
Hi John,

Thanks for your comment.
Actually it's a nice idea, and yes why not go ahead and open a PR please, and I will implement it in the upcoming release.

Sorry for the late reply

[2022-02-18 04:42] #75 closed

[2022-02-18 05:31] #52 closed

[2022-02-18 05:52] #28 closed

[2022-02-18 16:49] sarik-k commented on #80
Its not happening anymore. What I suspect is, yesterday I was creating and deleting a lot of images (likeable model in my app) for testing, so maybe the new ones took the ID's of deleted ones, which were liked by the user previously. Maybe I should remove the likes when deleting an image. Do you think its a possible cause for such behavior? What do you suggest ?

[2022-02-18 16:52] sarik-k opened #81 "How do I listen to the events?"
I want to listen to `acq.likes.like` event. Here's what I'm doing:

EventServiceProvider.php

[code]
SendImageLikedNotification.php:
[code]

However, nothing is logged in the laravel.log file when I 'like' something.

[2022-02-18 17:43] mkwsra commented on #81
Hi Sarik,

Use this complete example if ESP class if you wish:

I tried to leave comments as much as possible, and close this issue please when you're done 🤩🙌

[code]

[2022-02-19 08:12] sarik-k commented on #81
Hi, thanks for the help. I was still unable to listen to the events, so I did a bit of digging around and found that the method `toggleLike()` in `CanLike.php` did not dispatch any like or unlike events.

I'm did this instead :
[code]

And the events are being fired and listened to correctly now.

[2022-02-19 08:12] #81 closed

[2022-02-19 08:13] #80 closed

[2022-02-19 12:39] criting opened #82 "Laravel 9 support?"
Do you plan to update the package to be compatible with Laravel 9?

[2022-02-19 14:56] mkwsra commented on #82
Hi there,

Can you please specify if you mean to increment PHP version or if there is something specific you are asking for?

Because the basic installation is working just fine:
<img width="691" alt="image" src="https://user-images.githubusercontent.com/1743919/154806090-e4107530-5000-4e74-9f09-647330a41807.png">

If you wish attache the error you are facing and I will do what's necessary.

Thank

[2022-02-19 14:58] mkwsra commented on #81
Thanks for telling me about `toggleLike()` I will make sure to add some sort of config for this, because not everyone needs to have events when they are toggle things, and actually for my personal projects I use the package the same way you mentioned with your last comment.

Best of luck Sarik with your work, and thanks for helping out!

[2022-02-19 16:22] criting commented on #82
Hi.

I was just asking because in the readme it says "Supports Laravel 8".  If there aren't any bugs on Laravel 9, please update the readme and include that supports Laravel 9 as well.

[2022-02-19 16:51] mkwsra commented on #82
I just updated the readme file, thanks for telling us.

Cheers

[2022-02-19 16:51] #82 closed

[2022-03-11 15:47] ronssij commented on #59
@bigint I can suggest this.

[code]
I wrapped it with when() so it will be avaiable where there is an authticated user and it always be available when you use User model and relation with user model instance.

so  for example getting the followers:
`$user->followers()->havingRaw('did_interact > ?', [0])->get();`

or adding a new relation since you have the pacakges traits.
[code]

and now you can

[2022-03-15 07:39] kife-design opened #83 "Filter friends"
Hello!

First of all, great package.

Is there a way to filter friends? At the moment you have the getFriends() method, but there is no way to say "give me all my friends that are from Belgium" for example.

[2022-03-23 09:21] spinalwiz opened #84 "If the first friendship request is denied, then unlimited duplicate entries can appear in the friendship table"
**To recreate:**
Add a friend and then deny that friend request.

Re-add that friend multiple times and you will see multiple entries in the friendship table like this:

<img width="893" alt="image" src="https://user-images.githubusercontent.com/12047531/159664201-9aff67ed-d167-4aa4-a42e-3cd3fbfb1dc8.png">

**Cause:**
This is because `\Multicaret\Acquaintances\Traits\Friendable::getFriendship()` r

[2022-03-24 21:15] PonyUpDaddy commented on #79
@YosefOberlander did you find a solution for this?

[2022-03-28 22:49] YosefOberlander commented on #79
@PonyUpDaddy I ended up making my own friendship implantation.

[2022-06-05 16:33] ange007 commented on #83
Also interested.
I don't see an option without editing the source code.

[2022-06-05 16:34] mkwsra commented on #83
Let me check it out

[2022-06-05 16:37] mkwsra commented on #83
Honestly, I'm not gonna work on it now, however, I would really appreciate any help (Send me a PR if you can @ange007)

[2022-06-05 17:05] mkwsra commented on #83
Guys try this after the PR @ange007 , thankfully, made and close this issue please
#86

[2022-06-09 15:22] kwindo opened #87 "getFriendRequests() and getPendingFriendships() seem to output the same results"
Hi there,

Thanks for the package. I'v been playing around with it for a while and I seem to run into some strange behaviour.

I created a FriendshipController where I want to call the Auth user's Friendships lists. The friendship requests he received and his pending requests

[code]
Both functions output the same results. Not sure if this is a bug or I'm missing something.

[2022-07-27 10:13] younus93 commented on #84
This was my initial observation while using this package.

[2022-09-08 10:27] burasuk opened #88 "Why getPendingFriendships returns Friendship model instead of User model?"
If I send user request `befriend` i asume that method `getPendingFriendships()` returns collection of User model,
instead i've got `Multicaret\Acquaintances\Models\Friendship`.

How do i list this in interface?

[2022-09-08 11:56] #88 closed

[2022-10-19 04:49] ronssij commented on #79
@YosefOberlander
I think the better way for it is to make new Model that extends the Friendship model.

Then add this:
[code]

 and then you can do this.

[code]

[2022-10-19 11:43] mattvb91 commented on #87
Currently having the exact same issue. @mkwsra any ideas if this is a bug?

@kwindo did you manage to fix it?

[2022-10-19 11:50] kwindo commented on #87
No @mattvb91 sorry. With all repsect to the creator but I found this plugin insufficiant for what I needed so I build my own.

[2022-10-19 11:52] mkwsra commented on #87
Actually, you might be in need of another function in this case.

like this one `getAllFriendships()` perhaps?

These functions have the same characteristics and are used to filter `friendships` by a group you can pass a group slug, only the status you are looking for is different, so you can use them as well if you wish

[code]

`getFriendRequests()` is not taking group in consideration.

I hope

[2022-10-19 11:54] mkwsra commented on #87
Sorry for the late reply, and sorry to hear that, I understand at the same time, and if you think you can contribute that would be great!

[2022-10-19 14:30] kwindo commented on #87
I'm sorry, my knowledge of git is rather basic. I don't really know how to contribute to a project or manage one. I did use your code as a base (sensirely hope you don't mind) but did a lot of tweaks.

I'm not an specialist developer so at this point I'm unsure if everything I changed/added is done correctly. Feel free to check the current code here https://github.com/kwindo/laravel-friendships an

[2022-10-19 15:19] mkwsra commented on #87
Yes, I just did, I will see what I can enhance, thanks for using the package

[2022-10-19 15:19] #87 closed

[2022-10-20 08:04] mattvb91 commented on #87
Thanks guys,

just for reference for anyone else heres how I ended up doing it:

[code]

[2022-11-07 07:56] francoism90 commented on #84
@spinalwiz  Could you please send a PR? If this is a bug, someone else will probably have it else well.